 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliver Different - @ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="~/css/jquery.timepicker.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/udispatch.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/scripts/libs/resizable/angular-resizable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/scripts/libs/hotkeys/hotkeys.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/scripts/libs/autocomplete/angular-auto-complete.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/scripts/libs/pickdate/angular-pickadate.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/scripts/libs/ui-select/select.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/scripts/libs/heremap/mapsjs-ui.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/scripts/libs/angular-confirm/angular-confirm.min.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @RenderBody()

    

    @* <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9qU2-Zu7KwkO6TqtY5p-2P4czmpF98nA&libraries=places"></script> *@
    @* <script src="~/scripts/scripts.min.js" asp-append-version="true"></script> *@
   
     <script>
        function initMap() {
            console.log("maps loaded");
        }
    </script>
    <environment exclude="Development">
        @{
            var googleMapsApiKey = "https://maps.googleapis.com/maps/api/js?&libraries=places&callback=initMap&key=" + Environment.GetEnvironmentVariable("GoogleMapsKey");
            <script type="text/javascript" src='@googleMapsApiKey'></script>


        }
    </environment>
    <environment include="Development">
        @{

            var googleMapsApiKey = "https://maps.googleapis.com/maps/api/js?&libraries=places&callback=initMap&key=" + Environment.GetEnvironmentVariable("GoogleMapsDevKey");
            <script type="text/javascript" src='@googleMapsApiKey'></script>
        }
    </environment>

    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/date.min.js"></script>
    <script src="~/scripts/jquery.timepicker.min.js"></script>
    <script src="~/scripts/libs/angular/angular.min.js"></script>
    <script src="~/scripts/libs/ui-select/select.js"></script>
    <script src="~/scripts/libs/ui-router/angular-ui-router.min.js"></script>
    <script src="~/scripts/libs/ui-router/ct-ui-router-extras.min.js"></script>
    <script src="~/scripts/libs/resizable/angular-resizable.min.js"></script>
    <script src="~/scripts/libs/sortable.js"></script>
    <script src="~/scripts/libs/contextMenu.js"></script>
    <script src="~/scripts/libs/hotkeys/hotkeys.min.js"></script>
    <script src="~/scripts/libs/timepickerdirective.min.js"></script>
    <script src="~/scripts/libs/autocomplete/angular-auto-complete.js"></script>
    <script src="~/scripts/libs/ng-map-autocomplete.js"></script>
    <script src="~/scripts/libs/ng-map.min.js"></script>
    <script src="~/scripts/libs/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/scripts/libs/pickdate/angular-pickadate.js"></script>
    <script src="~/scripts/libs/moment/moment.js"></script>
    <script src="~/scripts/libs/heremap/mapsjs-core.js"></script>
    <script src="~/scripts/libs/heremap/mapsjs-mapevents.js"></script>
    <script src="~/scripts/libs/heremap/mapsjs-service.js"></script>
    <script src="~/scripts/libs/heremap/mapsjs-ui.js"></script>
    <script src="~/scripts/libs/angular-confirm/angular-confirm.min.js"></script>
    <script src="~/scripts/libs/gmaps.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    @await RenderSectionAsync("scripts", required: false)
    
    </body>
</html>
